main:
  TeamSpeakIp: 1.2.3.4
  TeamSpeakPort: 9987
  QueryPort: 10011
  QueryUsername: admin
  QueryPassword: '123456'
teamspeak:
  TeamspeakNickname: Minecraft
  ConsoleName: '&9Server'
  
  # Only required if you use the channel functions!
  ChannelID: 0
  ChannelPassword: ''
  
  # Can only be true or false
  ListenToServerEvents: true
  ListenToServerBroadcasts: true
  ListenToChannel: true
  ListenToChannelChat: true
  ListenToPrivateMessages: true
  AllowLinksInMessages: true
  
  # Can be either 'server', 'channel' or 'none'
  SendChatToTeamspeak: none
  
  # Can only be true or false
  LogChatInConsole: true
  
  # Default reason for bans and (channel) kicks
  DefaultReason: '-'
  
  # Debug Mode
  # Use if the plugin doesn't work at all
  # Or for posting error logs in the forum
  Debug: false
  
plugin-interaction:
  Factions:
    # If Factions is enabled, only public chat will be sent to TeamSpeak.
    public-only: true
  Herochat:
    # Do we want to enable support for Herochat?
    enabled: false
    # Which channel do we want us to use?
    channel: Global
  
messages:
  TeamspeakEvents:
    Join: '&e%client_nickname% &ahas joined TeamSpeak'
    Quit: '&e%client_nickname% &ahas left TeamSpeak'
    ChannelEnter: '&e%client_nickname% &aentered the channel.'
    ChannelLeave: '&e%client_nickname% &aleft the channel.'
    ServerMsg: '[&cTS&f] &e%client_nickname%&a: %msg%'
    ChannelMsg: '&e%client_nickname%&f: %msg%'
    PrivateMsg: '&e%client_nickname% &a-> &eMe&f: %msg%'
  TeamspeakMessages:
    ServerMessage: '&4&l%msg%'
    ChannelMessage: '&4&l[%player_displayname%&4] &r%msg%'
    PrivateMessage: '&4&l[%player_displayname%&4] &r%msg%'
    PokeMessage: '&l[%player_displayname%] &r%msg%'
    KickMessage: '[%player_displayname%] kicked you from the server for %msg%.'
    ChannelKickMessage: '[%player_displayname%] kicked you from the channel for %msg%.'
    BanMessage: '[%player_displayname%] banned you from the server for %msg%.'
  MinecraftEvents:
    ChatMessage: '&l%player_displayname%&r: %msg%'
    LoginMessage: '&l%player_displayname%&r logged in.'
    LogoutMessage: '&l%player_displayname%&r logged out.'
    KickedMessage: '&l%player_displayname%&r was kicked from the server.'
    BannedMessage: '&l%player_displayname%&r was banned from the server.'
  MinecraftCommandMessages:
    OnlineList: '&aCurrently online: &e%list%'
    ChannelList: '&aCurrently in the channel: &e%list%'
    Mute: '&aYou are now muted.'
    Unmute: '&aYou aren''t muted anymore.'
    ChannelChange: '&aYou are now talking in the TeamSpeak channel &6%channel%&a.'
    Broadcast: '&e%player_displayname% &a-> &f[&cTS&f]&f: %msg%'
    Chat: '&e%player_displayname% &a-> &eTS&f: %msg%'
    Pm: '&eMe &a-> &e%target%&f: %msg%'
    Poke: '&e%player_displayname% &apoked &e%target%&f: %msg%'
    Kick: '&e%player_displayname% &akicked &e%target% &afrom the server for &e%msg%&a.'
    ChannelKick: '&e%player_displayname% &akicked &e%target% &afrom the channel for &e%msg%&a.'
    Ban: '&e%player_displayname% &abanned &e%target% &afor &e%msg%&a.'
